html,
body,
#root {
  height: 100%;
  overflow: hidden;
}
#root {
  display: flex;
  flex-direction: column;
}

.panel-container {
  flex: 1 0 auto;
  height: auto !important;

  .panel-top {
    display: flex;
    flex-direction: column;
  }
  .panel-bottom {
    display: flex;
    flex-direction: column;
  }
}
