.keys-container {
  overflow-y: auto;
}

.key-summary {
  .MuiAccordionSummary-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 10px;
  }
}

.key-details {
  padding: 0 !important;
}

.chip-container {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: right;

  .chip-block {
    display: flex;
    flex-direction: column;
    padding: 0 15px;

    &:first-child {
      padding-left: 0;
    }
    
    &:last-child {
      padding-right: 0;
    }

    .chip {
      font-size: 14px;

      .MuiSvgIcon-root {
        width: auto;
        height: 0.75em;
        vertical-align: sub;
        padding-right: 5px;
      }

      .human-file-size-unit {
        font-size: 0.75em;
        color: gray;
      }
    }
  }
}
