.terminal-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .terminal {
    flex-grow: 1;
    overflow: auto;
    pre {
      margin: 0;
      padding: 5px;
    }
    > ul {
      margin: 0 !important;
      padding: 0 !important;
      padding-bottom: 10px !important;
    }
    > * + * {
      border-top: 1px dashed lightgray;
    }
  }

  .cmd-container {
    position: relative;
    > button {
      position: absolute;
      right: 0;
      top: 0.4em;
    }
  }

  .MuiTabPanel-root {
    padding: 0;
  }
}
